@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #16423C;
    --secondary: #a1e4cb;
    --green: #3BA547;
    --brown: #9E4622;
    --dark: #00201c;
    --light: #d7f5ea;
}