@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #16423C;
    --secondary: #89CFB5;
    --green: #3BA547;
    --brown: #9E4622;
    --dark: #00201c;
    --light: #afebd5;
}