:root {
    --bg-color: #E9EFEC;
    --text-color: #16423C;
    --primary-color: #16423C;
    --secondary-color: #89CFB5;
    --green-color: #3BA547;
    --dark-color: #00201c;
    --light-color: #afebd5;
}

a:hover {
    text-decoration: underline;
}

body {
    overflow-x: hidden;
}

/* Styles for messages */
.alert {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
}

.alert-warning {
    background-color: #fff3cd;
    color: #856404;
}

.alert-info {
    background-color: #d1ecf1;
    color: #0c5460;
}