{% extends "account.html" %}
{% load static custom_tags %}

{% block account_section %}
<section class="flex flex-col gap-4 p-4 bg-white">
    <h1 class="font-bold text-3xl font-montserrat">Checkout</h1>
    {% if cart_items %}
        <table class="min-w-full bg-white text-center rounded-xl shadow-sm border border-gray-200">
            <thead class="bg-primary text-white">
                <tr>
                    <th class="py-2">Product</th>
                    <th class="py-2">Price</th>
                    <th class="py-2">Quantity</th>
                    <th class="py-2">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                    <tr class="border-t">
                        <td class="py-4 flex items-center gap-4">
                            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="w-16 h-16 rounded-xl object-contain">
                            <span>{{ item.product.name }}</span>
                        </td>
                        <td class="py-4">₹{{ item.product.offer_price }}</td>
                        <td class="py-4">{{ item.quantity }}</td>
                        <td class="py-4">₹{{ item.product.offer_price|multiply:item.quantity }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="flex justify-start mt-4">
            <div class="text-right">
                <p class="text-xl font-bold">Total: ₹{{ cart_items|calculate_total }}</p>
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="mt-4 bg-primary text-white py-2 px-4 rounded-lg">Place Order</button>
        </form>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
</section>
{% endblock account_section %}
