{% extends "base.html" %}
{% load static %}

{% block title %}DirectFarm | Farmers{% endblock title %}
{% block main_content %}
<section class="flex flex-col gap-4">
    <div class="container mx-auto text-center">
      <h1 class="text-4xl font-bold">Meet the Farmers Behind Your Fresh Produce</h1>
      <p class="mt-4 text-lg">Learn about the people who grow the food you love. Together, we’re making a difference!</p>
    </div>
    <section class="">
        <div class="container mx-auto">
          <h2 class="text-3xl font-bold text-center mb-6">Our Farmers</h2>
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for farmer in farmers %}
              <a href="{% url 'shop_by_farmer' farmer.id %}" class="border rounded-xl shadow-lg p-4">
                {% if farmer.profile_picture %}
                  <img class="object-cover w-full h-48 rounded-t-lg" src="{{ farmer.profile_picture.url }}" alt="{{ farmer.user.username }}">
                {% else %}
                  <img class="object-cover w-full h-48 rounded-t-lg" src="{% static 'images/default_profile_picture.png' %}" alt="Default Profile Picture">
                {% endif %}
                <div class="p-4">
                  <h3 class="text-xl font-semibold">
                    {% if farmer.farm_name %}
                      {{ farmer.farm_name }}
                    {% else %}
                      {{ farmer }}
                    {% endif %}
                  </h3>
                  <p class="text-gray-600">Location: {{ farmer.location }}</p>
                  <p class="mt-2">{{ farmer.farm_description }}</p>
                </div>
              </a>
            {% endfor %}
          </div>
        </div>
      </section>
</section>
{% endblock main_content %}