{% extends "base.html" %}
{% load static %}

{% block title %}DirectFarm | How it works{% endblock title %}
{% block main_content %}
<section class="flex flex-col items-center gap-4 pl-32 pr-32">
    <h1 class="font-bold text-3xl">How It Works</h1>
    <p class="pl-12 pr-12">
        At DirectFarm, we make it easy for farmers to connect directly with customers, ensuring fresh, sustainable, and fairly-priced product. 
        Here’s how our platform works:
    </p>
    <div class="w-full flex gap-12 p-12">
        <div class="flex-1 flex flex-col gap-12">
            <span class="flex items-center gap-2 p-2 pr-3 border border-secondary w-fit rounded-full">
                <img class="w-6" src="{% static 'images/agronomy.png' %}" alt="">
                <h2 class="">For Farmers</h2>
            </span>
            <div class="w-full flex gap-6">
                <div class="flex items-center justify-center relative">
                    <span class="absolute w-10 h-10 bg-light rounded-full flex items-center justify-center shadow-lg -top-5 -left-8 font-bold text-xl bg-opacity-20 border border-dark">1</span>
                    <img class="w-20" src="{% static 'images/farmer.png' %}" alt="">
                </div>
                <div class="w-full flex flex-col rounded-xl bg-light p-4 shadow-lg bg-opacity-50">
                    <h2 class="font-bold text-2xl">Step 1: Register as a Farmer</h2>
                    <p>
                        Sign up on our platform and create your farmer profile by providing details about your farm, your location, and the types of product you offer.
                    </p>
                </div>
            </div>
            <div class="w-full flex gap-6">
                <div class="flex items-center justify-center relative">
                    <span class="absolute w-10 h-10 bg-light rounded-full flex items-center justify-center shadow-lg -top-5 -left-8 font-bold text-xl bg-opacity-20 border border-dark">2</span>
                    <img class="w-20" src="{% static 'images/product.png' %}" alt="">
                </div>
                <div class="w-full flex flex-col rounded-xl bg-light p-4 shadow-lg bg-opacity-50">
                    <h2 class="font-bold text-2xl">Step 2: List Your Product</h2>
                    <p>
                        Upload details of your fresh product, including images, pricing, availability, and farming practices. Keep your inventory updated to let customers know what’s available.
                    </p>
                </div>
            </div>
            <div class="w-full flex gap-6">
                <div class="flex items-center justify-center relative">
                    <span class="absolute w-10 h-10 bg-light rounded-full flex items-center justify-center shadow-lg -top-5 -left-8 font-bold text-xl bg-opacity-20 border border-dark">3</span>
                    <img class="w-20" src="{% static 'images/order-delivery.png' %}" alt="">
                </div>
                <div class="w-full flex flex-col rounded-xl bg-light p-4 shadow-lg bg-opacity-50">
                    <h2 class="font-bold text-2xl">Step 3: Receive Orders</h2>
                    <p>
                        Get notified when customers place orders. Manage orders easily through your farmer dashboard.
                    </p>
                </div>
            </div>
            <div class="w-full flex gap-6">
                <div class="flex items-center justify-center relative">
                    <span class="absolute w-10 h-10 bg-light rounded-full flex items-center justify-center shadow-lg -top-5 -left-8 font-bold text-xl bg-opacity-20 border border-dark">4</span>
                    <img class="w-20" src="{% static 'images/shipped.png' %}" alt="">
                </div>
                <div class="w-full flex flex-col rounded-xl bg-light p-4 shadow-lg bg-opacity-50">
                    <h2 class="font-bold text-2xl">Step 4: Deliver or Arrange Pickup</h2>
                    <p>
                        Coordinate delivery or pickup based on the customers preferences. You can use your own logistics or arrange a convenient pickup spot.
                    </p>
                </div>
            </div>
            <div class="w-full flex gap-6">
                <div class="flex items-center justify-center relative">
                    <span class="absolute w-10 h-10 bg-light rounded-full flex items-center justify-center shadow-lg -top-5 -left-8 font-bold text-xl bg-opacity-20 border border-dark">5</span>
                    <img class="w-20" src="{% static 'images/pay.png' %}" alt="">
                </div>
                <div class="w-full flex flex-col rounded-xl bg-light p-4 shadow-lg bg-opacity-50">
                    <h2 class="font-bold text-2xl">Step 5: Get Paid</h2>
                    <p>
                        Receive secure payments directly into your account, ensuring fair and timely compensation for your hard work.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full flex gap-12 p-12">
        <div class="flex-1 flex flex-col gap-12">
            <span class="flex items-center gap-2 p-2 pr-3 border border-secondary w-fit rounded-full">
                <img class="w-6" src="{% static 'images/agronomy.png' %}" alt="">
                <h2 class="">For Customers</h2>
            </span>
            <div class="w-full flex gap-6">
                <div class="flex items-center justify-center relative">
                    <span class="absolute w-10 h-10 bg-light rounded-full flex items-center justify-center shadow-lg -top-5 -left-8 font-bold text-xl bg-opacity-20 border border-dark">1</span>
                    <img class="w-20" src="{% static 'images/consumer.png' %}" alt="">
                </div>
                <div class="w-full flex flex-col rounded-xl bg-light p-4 shadow-lg bg-opacity-50">
                    <h2 class="font-bold text-2xl">Step 1: Sign Up as a Customer</h2>
                    <p>
                        Create a free account to explore the freshest, locally-sourced Product available near you.
                    </p>
                </div>
            </div>
            <div class="w-full flex gap-6">
                <div class="flex items-center justify-center relative">
                    <span class="absolute w-10 h-10 bg-light rounded-full flex items-center justify-center shadow-lg -top-5 -left-8 font-bold text-xl bg-opacity-20 border border-dark">2</span>
                    <img class="w-20" src="{% static 'images/harvest.png' %}" alt="">
                </div>
                <div class="w-full flex flex-col rounded-xl bg-light p-4 shadow-lg bg-opacity-50">
                    <h2 class="font-bold text-2xl">Step 2: Browse Products</h2>
                    <p>
                        Search for fruits, vegetables, dairy, and other farm-fresh items using filters like location, price, and availability.
                    </p>
                </div>
            </div>
            <div class="w-full flex gap-6">
                <div class="flex items-center justify-center relative">
                    <span class="absolute w-10 h-10 bg-light rounded-full flex items-center justify-center shadow-lg -top-5 -left-8 font-bold text-xl bg-opacity-20 border border-dark">3</span>
                    <img class="w-20" src="{% static 'images/online-order.png' %}" alt="">
                </div>
                <div class="w-full flex flex-col rounded-xl bg-light p-4 shadow-lg bg-opacity-50">
                    <h2 class="font-bold text-2xl">Step 3: Place Your Order</h2>
                    <p>
                        Add items to your cart and proceed to checkout. Choose your preferred delivery or pickup option.
                    </p>
                </div>
            </div>
            <div class="w-full flex gap-6">
                <div class="flex items-center justify-center relative">
                    <span class="absolute w-10 h-10 bg-light rounded-full flex items-center justify-center shadow-lg -top-5 -left-8 font-bold text-xl bg-opacity-20 border border-dark">4</span>
                    <img class="w-20" src="{% static 'images/distribution.png' %}" alt="">
                </div>
                <div class="w-full flex flex-col rounded-xl bg-light p-4 shadow-lg bg-opacity-50">
                    <h2 class="font-bold text-2xl">Step 4: Enjoy Fresh Product</h2>
                    <p>
                        Get your product delivered to your doorstep or pick it up directly from the farm or a designated location.
                    </p>
                </div>
            </div>
            <div class="w-full flex gap-6">
                <div class="flex items-center justify-center relative">
                    <span class="absolute w-10 h-10 bg-light rounded-full flex items-center justify-center shadow-lg -top-5 -left-8 font-bold text-xl bg-opacity-20 border border-dark">5</span>
                    <img class="w-20" src="{% static 'images/chat.png' %}" alt="">
                </div>
                <div class="w-full flex flex-col rounded-xl bg-light p-4 shadow-lg bg-opacity-50">
                    <h2 class="font-bold text-2xl">Step 5: Provide Feedback</h2>
                    <p>
                        Rate your experience and share feedback to help farmers grow their business and maintain quality.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
</section>
{% endblock main_content %}