{% extends "account.html" %}

{% block account_section %}
<div id="preferences" class="py-6">
  <div class="container mx-auto max-w-4xl">
    <h2 class="text-2xl font-bold mb-4">Preferences</h2>
    <form action="/update-preferences/" method="POST" class="space-y-4">
      <div class="flex items-center gap-4">
        <input type="checkbox" id="email-updates" name="email-updates" checked>
        <label for="email-updates" class="text-gray-700">Receive Email Updates</label>
      </div>
      <div class="flex items-center gap-4">
        <input type="checkbox" id="sms-updates" name="sms-updates">
        <label for="sms-updates" class="text-gray-700">Receive SMS Updates</label>
      </div>
      <button type="submit" class="bg-light font-bold py-2 px-4 rounded-lg hover:bg-primary hover:text-white">Save Preferences</button>
    </form>
  </div>
</div>
{% endblock account_section %}